<Files ~ "(functions.rb|preview.rb|deploy|\.log$|\.erb$|\.yaml$)">
deny from all 
</Files>

<Files ~ "(delete.rb|test.rb)">
AuthType Basic
AuthName "admin"
AuthUserFile /etc/httpd/.htpasswd
Require user gam0022
</Files>
