div#selectDesign table a {
  display: block;
  margin:   0px;
  padding:  0px;
  border: solid 10px white;
}

div#selectDesign table a:hover {
  display: block;
  margin:   0px;
  padding:  0px;
  border: solid 10px #aaa;
}

div#selectDesign table a.active {
  display: block;
  margin:   0px;
  padding:  0px;
  border: solid 10px #b00;
}

canvas {
  display: block;
  margin-bottom: 20px;
}

div#selectDesign {
  width: 480px;
  background: #bbb;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
